<?xml version="1.0" encoding="utf-8"?>
<resources xmlns:xliff="urn:oasis:names:tc:xliff:document:1.2">
    <string-array name="config_locationProviderPackageNames" translatable="false">

    <!-- Enable all rotations by default for everyone -->
    <bool name="config_enableLockScreenRotation">true</bool>
    <bool name="config_allowAllRotations">true</bool>

    <!-- Whether to persist the notification for when a usb drive device is plugged in -->
    <bool name="config_persistUsbDriveNotification">true</bool>

</resources>
